@import url(https://fonts.googleapis.com/css?family=Play);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html, body {
    background: #fff;
    height: 100%;
    width: 100%;
    margin:0;
	padding:0;
    font-family: 'Open Sans', sans-serif;
}

.row {
    max-width: 100%;
}

/*....................................................................................................................

Header Section

....................................................................................................................*/

#header {
	width:100%;
    height: auto;
    padding: 0;
    margin: 0;
    background: #fff;
    border: none;

}

.banner{
    padding: 0px;
    border: 0px solid;
    margin: 0px 0;
    height: auto;
    /*background: violet;*/
}

/*.logo {
    background: #F63C3D;
    position: absolute;
    width: 70px;
    height: 70px;
}

.logo img{
    height: 100%;
}
*/
.navigation{
    position: absolute;
    top: 0;
    left: 70px;
    right: 105px;
    height: 70px;
    background: transparent;
    text-align: center;
}

.navigation nav {
    padding-top: 15px;
    height: 100%;
    width: 100%;
    text-align: center;
    display: inline-block;
}
.navigation nav ul{
    height: 100%;
    display: inline-block;
}

.navigation nav ul li{
    height: 100%;
    display: inline-block;
    padding: 0px 20px;
    font-size: 14px;
    color: #fff;
    border-right: 1px solid grey;
}

.navigation nav ul li a{
    color: #000;
}

.navigation nav ul li:hover,
.navigation nav ul li:active{
    /*border-bottom: 4px solid #fff;*/
    color: blue;
    cursor: pointer;
}

.active {
    border-bottom: 4px solid #fff;
}

.navigation nav ul li a{
    text-decoration: none;
}

.social{
    position: absolute;
    top: 0px;
    right: 0px;
    height: 70px;
    width: 100px;
    background: transparent;
    text-align: center;
    padding: 10px 5px;
}

.social i{
    padding: 0 5px;
    color: #8C8788 !important;
}

.caption-text{
    width: 100%;
    padding: 180px 30px;
    background : url(../images/MAINN.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    /*background: violet;*/
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 0px;
}

.caption-text p{
    font-size: 40px;
    text-align: left;
    font-family: 'Play', sans-serif;
    color: white;
    font-weight: 700px;
}

.caption-text h5{
    padding: 18px 130px;
    font-size: 18px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 20px;
    color: orange;
    font-weight: 700px;
}
.icon img{
align-content: center;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 25PX;
padding-right: 25PX;
}

.icon2 img{
align-content: center;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 15px;
padding-right: 10px;
}

@media (max-width: 1200px) {
    .caption-text{
        width: 100%;
        padding: 130px 30px;
        /*background: blue;*/

        font-family: 'Open Sans', sans-serif;
        padding-bottom: 0px;
    }
    .caption-text p{
        font-size: 50px;
        text-align: center;
        font-family: 'Play', sans-serif;
        color: #eee;
    }

    .caption-text h5{
        padding: 18px 130px;
        font-size: 13px;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        margin-bottom: 20px;
        color: #eee;
    }
}

@media (max-width: 768px) {
    .caption-text{
        width: 100%;
        padding: 130px 0px;
        font-family: 'Open Sans', sans-serif;
        padding-bottom: 0px;
    }
    .caption-text p{
        font-size: 30px;
        text-align: center;
        font-family: 'Play', sans-serif;
        color: #eee;
    }

    .caption-text h5{
        padding: 50px 0px;
        font-size: 10px;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        margin-bottom: 20px;
        color: #eee;
    }
}

@media (max-width: 480px) {
    .caption-text{
        width: 100%;
        padding: 130px 0px;
        /*background: #blue;*/
        font-family: 'Open Sans', sans-serif;
        padding-bottom: 0px;
    }
    .caption-text p{
        font-size: 20px;
        text-align: center;
        font-family: 'Play', sans-serif;
        color: #fff;
    }

    .caption-text h5{
        padding: 50px 0px;
        font-size: 10px;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        margin-bottom: 20px;
        color: #fff;
    }
}

.caption-text a{
    margin: 20px;
    padding: 10px 20px;
    font-size: 18px;
    text-align: center;
    background: orange;
    color: #000;
}

.hrs {
    text-align: center;
    margin-top: 120px;
    padding: 0px;
    padding-bottom: 5px;
    display: inline-block;
    width: 100%;
}

.hidden {
    visibility: hidden;
}

.hr {
    display: inline-block;
    width: 35px;
    border-bottom: 5px solid grey;
}

.hr:first-child {
    display: inline-block;
    width: 35px;
    border-bottom: 5px solid #fff;
}

/*....................................................................................................................

Content Section

....................................................................................................................*/

.blank {
    background: #362D30;
    padding: 0px;
}
.journal-blank{
    background-color: red;
    padding: 0px;
}
.col-3  {
    width: 33.33%;

}

.blank .col-3{
    background: #362D30;
    height: 200px;
    border: none;
}

.blank .col-3{
    background: #362D30;
    height: 200px;
    border: none;
}


@media (max-width: 1200px) {
    .highlighted-projects {
        padding-left: 50px;
        padding-right: 100px;
        padding-bottom: 100px;
        padding-top: 80px
    }

    .discover-more {
        color: #000;
        padding-top: 40px;
        background: #FAFAFA;
        padding-left: 50px;
    }

    .infinity-spaces {
        padding-right: 50px;
    }
}


.projects-types {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
    /*display: inline-block;*/
    width: 100%;
}

.projects-types .col-3 {
    text-align: center;
    display: inline-block;
}
.projects-types img {
    /*position: relative;*/
    width: 100%
}
.projects-types h4 {
    position: absolute;
    color: blue;
    padding-left: 40%;
    font-family: 'Play', sans-serif;
}

.projects-types p {
    position: absolute;
    padding-left: 35%;
    top: 15px;
   left: 0;
    
}

@media (max-width: 1200px) {
    .projects-types {
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 30px;
        display: inline-block;
        width: 100%;
    }

}

/*..................................................................................

Lower Section

..................................................................................*/

.services {
    text-align: left;
    font-size: 24px;
    display: inline-block;
    padding: 0 30px;
    background: #fff;
}

.services button{
color: blue;
}

@media (min-width: 480px) {
    .services{
        padding: 0 50px;
    }
}

@media (min-width: 700px) {
    .services{
        padding: 0 50px;
    }
}

@media (min-width: 1000px) {
    .services{
        padding: 0 100px;
    }
}

@media (min-width: 1400px) {
    .services{
        padding: 0 300px;
    }
}

.services h4{
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Play', sans-serif;
}

.services .col-3{
    padding: 150px;
    max-height: 500px;
    padding: 0px;
    display: inline-block;
    float: left;
}

.services .col-3{
    padding: 150px;
    max-height: 500px;
    padding: 0px;
    padding-bottom: 30px;
    padding-right: 10px;
}

.services .col-3 img{
    padding-bottom: 10px;
}

.services .col-3 h4 {
    font-size: 18px;
}
.services .col-3 p {
    padding-top: 20px;
    font-size: 13px;
    margin: 15px;
    margin: 0;
}

.services .col-3{
    width: 100%;
}

@media (min-width: 480px) {
    .services .col-3{
        width: 50%;
    }
}

@media (min-width: 900px) {
    .services .col-3{
        width: 33.33%;
        padding-right: 20px;
    }

}

@media (min-width: 1200px) {
    .services .col-3{
        width: 33.33%;
        padding-right: 50px;
    }

}

.call-to-action {
    padding: 5px;
    margin: 5px 0;
    /*background-color: #fff;*/
    background: #FAFAFA;
    color: #000;
    float: right;
    padding: 5px 10px !important;
    text-align: center;
    /*background: #362D30;*/
    width: 100%;
}

.call-to-action h4{
    font-size: 20px;
    font-family: 'Play', sans-serif;
    padding: 10px
}

.call-to-action p{
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    padding: 10px
}

.call-to-action a{
    font-size: 12px;
    font-family: 'Play', sans-serif;
    padding-bottom:3px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 3px solid;
    color: #fff;
}

.journal {
    background: #FAFAFA;
    padding: 0 30px;
}

.journal h4{
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Play', sans-serif;
}

@media (min-width: 480px) {
    .journal{
        padding: 0 50px;
    }
}

@media (min-width: 700px) {
    .journal{
        padding: 0 50px;
    }
}

@media (min-width: 1000px) {
    .journal{
        padding: 0 100px;
    }
}

@media (min-width: 1400px) {
    .journal{
        padding: 0 300px;
    }
}

.journal h5{
    text-align: center;
    font-size: 20px;
    font-family: 'Play', sans-serif;
}

@media (min-width: 1400px) {
    .journal{
        padding: 0 300px;
    }
}

.journal-container {
    background: #fff;
    text-align: center;
}

.journal-container p{
    font-size: 13px;
}

.journal > .columns {
    padding-left: 0;
}

.journal-content{
    padding: 40px 25px;
}

.journal-content h4{
    width: 100%;
    text-align: center;
    font-size: 12px;
    color: #000;
    font-family: 'Play', sans-serif;
}

#read button a{
    width: 100%;
    background-color: yellow;
    color: blue; 
    text-align: center;
    font-family: 'Play', sans-serif;
    margin-top: 20px;
}

.journal-content a{
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: #000;
    border: 2px solid #362D30;
    padding: 10px 20px;;
    font-family: 'Play', sans-serif;
    margin-top: 20px;
}

.footer{
    align-content: center;
    width: 100%;
}
.footer p a{
    align-content: center;
    width: 100%;
}

@media (min-width: 480px) {
    .footer{
        width: 100%
        align-content:center;
    }
}

@media (min-width: 900px) {
    .footer{
        width: 100%;
        align-content: center;
    }

}

@media (min-width: 1200px) {
    .footer{
        width: 100%
        align-content:center;
    }

}


